body {
    background-image: linear-gradient(to right, #343659 20%, #151826 80%);
    color: rgb(177, 184, 190) !important;
}

.navbar-title {
    color: aliceblue !important;
    display: flex;
    justify-content: center;
    font-size: 40px !important;
}

.navbar {
    display: grid !important;
    justify-content: center !important;
}

/*Se usa !important debido a que se está modificando Bootstrap y sin este no lo cambia*/

.foto-header{
    height: 350px;
    width: 100%;
    position: relative;
}

.contenido-titulo{
    position: absolute;
    
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-subtitulo{
    padding: 10px;
    backdrop-filter: blur(5px);
     /*Falta hacer linea entre medio*/
}

.img-bitcoin{
    float: left;
}

/* Footer */

footer {
    text-align: center;
    color: black;
}
.footer {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #343659;
    overflow: hidden;   

}
.footer .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(/img/wave.png);
    background-size: 1000px 100px;
}
.footer .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.footer .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.footer .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
.footer .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate 
{
    0% 
    {
        background-position-x: 0;
    }
    100% 
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0% 
    {
        background-position-x: 0;
    }
    100% 
    {
        background-position-x: -1000px;
    }
}